<a href="https://colab.research.google.com/github/DenisaxF/BDNSV/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!pip install neo4j pandas

Requirement already satisfied: neo4j in /usr/local/lib/python3.12/dist-packages (6.0.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.12/dist-packages (from neo4j) (2025.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [11]:
from neo4j import GraphDatabase
import pandas as pd

# Configurare conexiune - COMPLETA»ñI CU DATELE VOASTRE
URI = "neo4j+s://72bc61dd.databases.neo4j.io"  # Din Neo4j Aura
AUTH = ("neo4j", "3mfPZTJmplgP0huqxhXz9alrz33KaeN6DmIjKtIaF8E")  # Username »ôi parola voastrƒÉ

driver = GraphDatabase.driver(URI, auth=AUTH)

def run_query(query, parameters=None):
    """Func»õie helper pentru rularea query-urilor"""
    with driver.session() as session:
        result = session.run(query, parameters or {})
        return [record.data() for record in result]

# Test conexiune
try:
    driver.verify_connectivity()
    print("‚úì Conectare reu»ôitƒÉ la Neo4j!")
except Exception as e:
    print(f"‚úò Eroare la conectare: {e}")

‚úì Conectare reu»ôitƒÉ la Neo4j!

In [ ]:
# »òtergere date existente (ATEN»öIE: »ôterge tot!)
clear_query = "MATCH (n) DETACH DELETE n"
run_query(clear_query)
print("Baza de date curƒÉ»õatƒÉ!")

Baza de date curƒÉ»õatƒÉ!

In [ ]:
# Creare constr√¢ngeri »ôi indexuri pentru performan»õƒÉ
constraints = [
    "CREATE CONSTRAINT student_id IF NOT EXISTS FOR (s:Student) REQUIRE s.id IS UNIQUE",
    "CREATE CONSTRAINT profesor_id IF NOT EXISTS FOR (p:Profesor) REQUIRE p.id IS UNIQUE",
    "CREATE CONSTRAINT curs_cod IF NOT EXISTS FOR (c:Curs) REQUIRE c.cod IS UNIQUE",
    "CREATE CONSTRAINT proiect_id IF NOT EXISTS FOR (pr:Proiect) REQUIRE pr.id IS UNIQUE",
    "CREATE INDEX student_nume IF NOT EXISTS FOR (s:Student) ON (s.nume)",
]

for constraint in constraints:
    try:
        run_query(constraint)
    except Exception as e:
        print(f"Constr√¢ngere deja existentƒÉ sau eroare: {e}")

print("‚úì Constr√¢ngeri »ôi indexuri create!")

‚úì Constr√¢ngeri »ôi indexuri create!

In [ ]:
# Populare bazƒÉ de date - STUDEN»öI
create_students = """
CREATE
  (s1:Student {id: 'S001', nume: 'Popescu Ion', an: 3, facultate: 'InformaticƒÉ', medie: 9.2, email: 'ion.popescu@student.ro'}),
  (s2:Student {id: 'S002', nume: 'Ionescu Maria', an: 2, facultate: 'InformaticƒÉ', medie: 8.7, email: 'maria.ionescu@student.ro'}),
  (s3:Student {id: 'S003', nume: 'Georgescu Andrei', an: 3, facultate: 'InformaticƒÉ', medie: 9.5, email: 'andrei.georgescu@student.ro'}),
  (s4:Student {id: 'S004', nume: 'Popa Elena', an: 1, facultate: 'InformaticƒÉ', medie: 8.3, email: 'elena.popa@student.ro'}),
  (s5:Student {id: 'S005', nume: 'Marin Alexandru', an: 2, facultate: 'InformaticƒÉ', medie: 7.9, email: 'alex.marin@student.ro'}),
  (s6:Student {id: 'S006', nume: 'Stan Diana', an: 3, facultate: 'InformaticƒÉ', medie: 9.0, email: 'diana.stan@student.ro'}),
  (s7:Student {id: 'S007', nume: 'Dumitrescu Vlad', an: 1, facultate: 'InformaticƒÉ', medie: 8.5, email: 'vlad.dumitrescu@student.ro'}),
  (s8:Student {id: 'S008', nume: 'Constantinescu Ana', an: 2, facultate: 'MatematicƒÉ', medie: 9.3, email: 'ana.constantinescu@student.ro'})
"""
run_query(create_students)
print("‚úì Studen»õi crea»õi!")

‚úì Studen»õi crea»õi!

In [ ]:
# Populare bazƒÉ de date - PROFESORI
create_professors = """
CREATE
  (p1:Profesor {id: 'P001', nume: 'Dr. Vasilescu Mihai', departament: 'InformaticƒÉ', grad: 'Profesor', experienta: 15}),
  (p2:Profesor {id: 'P002', nume: 'Dr. Cristescu Laura', departament: 'InformaticƒÉ', grad: 'Conferen»õiar', experienta: 10}),
  (p3:Profesor {id: 'P003', nume: 'Dr. Radu Stefan', departament: 'MatematicƒÉ', grad: 'Lector', experienta: 5}),
  (p4:Profesor {id: 'P004', nume: 'Dr. Nicolescu Anca', departament: 'InformaticƒÉ', grad: 'Profesor', experienta: 20})
"""
run_query(create_professors)
print("‚úì Profesori crea»õi!")

‚úì Profesori crea»õi!

In [ ]:
# Populare bazƒÉ de date - CURSURI
create_courses = """
CREATE
  (c1:Curs {cod: 'CS101', nume: 'Structuri de Date', credite: 6, semestru: 1, nivel: 'intermediar'}),
  (c2:Curs {cod: 'CS201', nume: 'Baze de Date', credite: 5, semestru: 2, nivel: 'intermediar'}),
  (c3:Curs {cod: 'CS301', nume: 'Inteligen»õƒÉ ArtificialƒÉ', credite: 6, semestru: 1, nivel: 'avansat'}),
  (c4:Curs {cod: 'CS102', nume: 'Algoritmi', credite: 7, semestru: 2, nivel: 'intermediar'}),
  (c5:Curs {cod: 'CS401', nume: 'Machine Learning', credite: 6, semestru: 1, nivel: 'avansat'}),
  (c6:Curs {cod: 'MATH201', nume: 'AlgebrƒÉ LiniarƒÉ', credite: 5, semestru: 2, nivel: 'fundamental'})
"""
run_query(create_courses)
print("‚úì Cursuri create!")

‚úì Cursuri create!

In [ ]:
# Populare bazƒÉ de date - PROIECTE
create_projects = """
CREATE
  (pr1:Proiect {id: 'PRJ001', nume: 'Sistem Recomandare Filme', descriere: 'Algoritm ML pentru recomandƒÉri', status: '√Æn desfƒÉ»ôurare', deadline: date('2024-12-15')}),
  (pr2:Proiect {id: 'PRJ002', nume: 'Chatbot Educa»õional', descriere: 'Bot pentru asisten»õƒÉ studen»õi', status: 'finalizat', deadline: date('2024-06-30')}),
  (pr3:Proiect {id: 'PRJ003', nume: 'AnalizƒÉ Re»õele Sociale', descriere: 'Vizualizare grafuri sociale', status: '√Æn desfƒÉ»ôurare', deadline: date('2024-11-20')}),
  (pr4:Proiect {id: 'PRJ004', nume: 'Aplica»õie Mobile SƒÉnƒÉtate', descriere: 'Tracking fitness »ôi nutri»õie', status: 'planificat', deadline: date('2025-03-01')})
"""
run_query(create_projects)
print("‚úì Proiecte create!")

‚úì Proiecte create!

In [ ]:
# Populare bazƒÉ de date - COMPANII
create_companies = """
CREATE
  (comp1:Companie {id: 'C001', nume: 'TechCorp', domeniu: 'Software Development', locatie: 'Bucure»ôti'}),
  (comp2:Companie {id: 'C002', nume: 'DataSolutions', domeniu: 'Data Analytics', locatie: 'Cluj-Napoca'}),
  (comp3:Companie {id: 'C003', nume: 'AI Innovations', domeniu: 'Artificial Intelligence', locatie: 'Bucure»ôti'})
"""
run_query(create_companies)
print("‚úì Companii create!")

‚úì Companii create!

In [ ]:
# Creare RELA»öII - ENROLLED_IN (studen»õi √Ænscri»ôi la cursuri)
create_enrollments = """
MATCH (s1:Student {id: 'S001'}), (c1:Curs {cod: 'CS101'})
CREATE (s1)-[:ENROLLED_IN {nota: 9.5, an_inscris: 2023}]->(c1)

WITH 1 as dummy
MATCH (s1:Student {id: 'S001'}), (c2:Curs {cod: 'CS201'})
CREATE (s1)-[:ENROLLED_IN {nota: 9.0, an_inscris: 2024}]->(c2)

WITH 1 as dummy
MATCH (s2:Student {id: 'S002'}), (c1:Curs {cod: 'CS101'})
CREATE (s2)-[:ENROLLED_IN {nota: 8.5, an_inscris: 2024}]->(c1)

WITH 1 as dummy
MATCH (s2:Student {id: 'S002'}), (c4:Curs {cod: 'CS102'})
CREATE (s2)-[:ENROLLED_IN {nota: 8.8, an_inscris: 2024}]->(c4)

WITH 1 as dummy
MATCH (s3:Student {id: 'S003'}), (c3:Curs {cod: 'CS301'})
CREATE (s3)-[:ENROLLED_IN {nota: 10.0, an_inscris: 2024}]->(c3)

WITH 1 as dummy
MATCH (s3:Student {id: 'S003'}), (c5:Curs {cod: 'CS401'})
CREATE (s3)-[:ENROLLED_IN {nota: 9.7, an_inscris: 2024}]->(c5)

WITH 1 as dummy
MATCH (s4:Student {id: 'S004'}), (c1:Curs {cod: 'CS101'})
CREATE (s4)-[:ENROLLED_IN {nota: 8.0, an_inscris: 2024}]->(c1)

WITH 1 as dummy
MATCH (s5:Student {id: 'S005'}), (c2:Curs {cod: 'CS201'})
CREATE (s5)-[:ENROLLED_IN {nota: 7.5, an_inscris: 2024}]->(c2)

WITH 1 as dummy
MATCH (s6:Student {id: 'S006'}), (c3:Curs {cod: 'CS301'})
CREATE (s6)-[:ENROLLED_IN {nota: 9.2, an_inscris: 2024}]->(c3)

WITH 1 as dummy
MATCH (s8:Student {id: 'S008'}), (c6:Curs {cod: 'MATH201'})
CREATE (s8)-[:ENROLLED_IN {nota: 9.5, an_inscris: 2024}]->(c6)
"""
run_query(create_enrollments)
print("‚úì √énscrieri create!")

‚úì √énscrieri create!

In [ ]:
# Creare RELA»öII - TEACHES (profesori predau cursuri)
create_teaches = """
MATCH (p1:Profesor {id: 'P001'}), (c1:Curs {cod: 'CS101'})
CREATE (p1)-[:TEACHES {din_an: 2020}]->(c1)

WITH 1 as dummy
MATCH (p1:Profesor {id: 'P001'}), (c4:Curs {cod: 'CS102'})
CREATE (p1)-[:TEACHES {din_an: 2018}]->(c4)

WITH 1 as dummy
MATCH (p2:Profesor {id: 'P002'}), (c2:Curs {cod: 'CS201'})
CREATE (p2)-[:TEACHES {din_an: 2019}]->(c2)

WITH 1 as dummy
MATCH (p4:Profesor {id: 'P004'}), (c3:Curs {cod: 'CS301'})
CREATE (p4)-[:TEACHES {din_an: 2015}]->(c3)

WITH 1 as dummy
MATCH (p4:Profesor {id: 'P004'}), (c5:Curs {cod: 'CS401'})
CREATE (p4)-[:TEACHES {din_an: 2017}]->(c5)

WITH 1 as dummy
MATCH (p3:Profesor {id: 'P003'}), (c6:Curs {cod: 'MATH201'})
CREATE (p3)-[:TEACHES {din_an: 2021}]->(c6)
"""
run_query(create_teaches)
print("‚úì Rela»õii TEACHES create!")

‚úì Rela»õii TEACHES create!

In [ ]:
# Creare RELA»öII - WORKS_ON (studen»õi lucreazƒÉ la proiecte)
create_works_on = """
MATCH (s1:Student {id: 'S001'}), (pr1:Proiect {id: 'PRJ001'})
CREATE (s1)-[:WORKS_ON {rol: 'Lead Developer', ore_saptamana: 15}]->(pr1)

WITH 1 as dummy
MATCH (s2:Student {id: 'S002'}), (pr1:Proiect {id: 'PRJ001'})
CREATE (s2)-[:WORKS_ON {rol: 'Data Scientist', ore_saptamana: 10}]->(pr1)

WITH 1 as dummy
MATCH (s3:Student {id: 'S003'}), (pr2:Proiect {id: 'PRJ002'})
CREATE (s3)-[:WORKS_ON {rol: 'AI Engineer', ore_saptamana: 12}]->(pr2)

WITH 1 as dummy
MATCH (s6:Student {id: 'S006'}), (pr3:Proiect {id: 'PRJ003'})
CREATE (s6)-[:WORKS_ON {rol: 'Researcher', ore_saptamana: 8}]->(pr3)

WITH 1 as dummy
MATCH (s3:Student {id: 'S003'}), (pr3:Proiect {id: 'PRJ003'})
CREATE (s3)-[:WORKS_ON {rol: 'Lead Analyst', ore_saptamana: 10}]->(pr3)
"""
run_query(create_works_on)
print("‚úì Rela»õii WORKS_ON create!")

‚úì Rela»õii WORKS_ON create!

In [ ]:
# Creare RELA»öII - COLLABORATES_WITH (studen»õi colaboreazƒÉ)
create_collaborations = """
MATCH (s1:Student {id: 'S001'}), (s2:Student {id: 'S002'})
CREATE (s1)-[:COLLABORATES_WITH {din_data: date('2024-01-15'), proiecte_comune: 1}]->(s2)

WITH 1 as dummy
MATCH (s3:Student {id: 'S003'}), (s6:Student {id: 'S006'})
CREATE (s3)-[:COLLABORATES_WITH {din_data: date('2024-02-10'), proiecte_comune: 1}]->(s6)

WITH 1 as dummy
MATCH (s1:Student {id: 'S001'}), (s3:Student {id: 'S003'})
CREATE (s1)-[:COLLABORATES_WITH {din_data: date('2023-09-01'), proiecte_comune: 2}]->(s3)
"""
run_query(create_collaborations)
print("‚úì Rela»õii COLLABORATES_WITH create!")

‚úì Rela»õii COLLABORATES_WITH create!

In [ ]:
# Creare RELA»öII - MENTORED_BY (studen»õi au mentori profesori)
create_mentoring = """
MATCH (s1:Student {id: 'S001'}), (p1:Profesor {id: 'P001'})
CREATE (s1)-[:MENTORED_BY {din_data: date('2023-10-01'), tip: 'Cercetare'}]->(p1)

WITH 1 as dummy
MATCH (s3:Student {id: 'S003'}), (p4:Profesor {id: 'P004'})
CREATE (s3)-[:MENTORED_BY {din_data: date('2023-09-15'), tip: 'Doctorat'}]->(p4)

WITH 1 as dummy
MATCH (s6:Student {id: 'S006'}), (p4:Profesor {id: 'P004'})
CREATE (s6)-[:MENTORED_BY {din_data: date('2024-02-01'), tip: 'Licen»õƒÉ'}]->(p4)
"""
run_query(create_mentoring)
print("‚úì Rela»õii MENTORED_BY create!")

‚úì Rela»õii MENTORED_BY create!

In [ ]:
# Creare RELA»öII - INTERNED_AT (studen»õi au fƒÉcut internship)
create_internships = """
MATCH (s1:Student {id: 'S001'}), (comp1:Companie {id: 'C001'})
CREATE (s1)-[:INTERNED_AT {perioada: '2023-07 - 2023-09', pozitie: 'Software Developer Intern'}]->(comp1)

WITH 1 as dummy
MATCH (s3:Student {id: 'S003'}), (comp3:Companie {id: 'C003'})
CREATE (s3)-[:INTERNED_AT {perioada: '2024-06 - 2024-08', pozitie: 'ML Engineer Intern'}]->(comp3)

WITH 1 as dummy
MATCH (s2:Student {id: 'S002'}), (comp2:Companie {id: 'C002'})
CREATE (s2)-[:INTERNED_AT {perioada: '2024-07 - prezent', pozitie: 'Data Analyst Intern'}]->(comp2)
"""
run_query(create_internships)
print("‚úì Rela»õii INTERNED_AT create!")
print("\nüéâ Baza de date complet populatƒÉ!")

‚úì Rela»õii INTERNED_AT create!

üéâ Baza de date complet populatƒÉ!

In [ ]:
# 1.1. Afi»ôa»õi to»õi studen»õii din anul 3
query = """
MATCH (s:Student)
WHERE s.an = 3
RETURN s.nume AS Nume, s.medie AS Medie, s.facultate AS Facultate
ORDER BY s.medie DESC
"""
result = run_query(query)
df = pd.DataFrame(result)
print("Studen»õi anul 3:")
print(df)

Studen»õi anul 3:
               Nume  Medie    Facultate
0  Georgescu Andrei    9.5  InformaticƒÉ
1       Popescu Ion    9.2  InformaticƒÉ
2        Stan Diana    9.0  InformaticƒÉ

In [ ]:
#Exerci»õiul P1: Afi»ôa»õi to»õi profesorii din departamentul de InformaticƒÉ, ordona»õi alfabetic.
query = """
MATCH (p:Profesor)
WHERE p.departament = 'InformaticƒÉ'
RETURN p.nume AS Nume
ORDER BY p.nume ASC
"""
result = run_query(query)
df = pd.DataFrame(result)
print("Profesori Informatica:")
print(df)

Profesori Informatica:
                  Nume
0  Dr. Cristescu Laura
1   Dr. Nicolescu Anca
2  Dr. Vasilescu Mihai

In [ ]:
#Exerci»õiul P2: GƒÉsi»õi toate proiectele cu status '√Æn desfƒÉ»ôurare'.
query = """
MATCH(pr:Proiect)
WHERE pr.status = '√Æn desfƒÉ»ôurare'
RETURN pr.nume AS Proiect
"""

result = run_query(query)
df = pd.DataFrame(result)
print("Proiecte in desfasurare:")
print(df)

Proiecte in desfasurare:
                    Proiect
0  Sistem Recomandare Filme
1    AnalizƒÉ Re»õele Sociale

In [ ]:
#Exerci»õiul P3: Afi»ôa»õi studen»õii cu media peste 9.0.

query = """
MATCH(s:Student)
WHERE s.medie > 9.0
RETURN s.nume AS Nume, s.medie AS Medie
"""

result = run_query(query)
df = pd.DataFrame(result)
print("Studenti cu media peste 9.0:")
print(df)

Studenti cu media peste 9.0:
                 Nume  Medie
0         Popescu Ion    9.2
1    Georgescu Andrei    9.5
2  Constantinescu Ana    9.3

In [ ]:
#Exerci»õiul P4: Lista»õi toate cursurile care au mai mult de 5 credite.
query = """
MATCH(c:Curs)
WHERE c.credite > 5
RETURN c.nume AS Curs, c.credite AS Nr_credite
"""

result = run_query(query)
df = pd.DataFrame(result)
print("Cursuri cu mai mult de 5 credite:")
print(df)

Cursuri cu mai mult de 5 credite:
                      Curs  Nr_credite
0        Structuri de Date           6
1  Inteligen»õƒÉ ArtificialƒÉ           6
2                Algoritmi           7
3         Machine Learning           6

In [27]:
#Exerci»õiul P5: Pentru fiecare proiect, afi»ôa»õi studen»õii care lucreazƒÉ la el »ôi rolul lor.

query = """
MATCH(s:Student)-[w:WORKS_ON]->(pr:Proiect)
RETURN pr.nume AS Proiect, s.nume as Student , w.rol AS Rol
"""

result = run_query(query)
df = pd.DataFrame(result)
print("Studenti si proiexte:")
print(df)

Studenti si proiexte:
                    Proiect           Student             Rol
0  Sistem Recomandare Filme       Popescu Ion  Lead Developer
1  Sistem Recomandare Filme     Ionescu Maria  Data Scientist
2       Chatbot Educa»õional  Georgescu Andrei     AI Engineer
3    AnalizƒÉ Re»õele Sociale  Georgescu Andrei    Lead Analyst
4    AnalizƒÉ Re»õele Sociale        Stan Diana      Researcher

In [22]:
#Exerci»õiul P6: GƒÉsi»õi studen»õii care au note peste 9.0 la toate cursurile la care sunt √Ænscri»ôi.
query = """
MATCH(s:Student)-[e:ENROLLED_IN]->(c:Curs)
WHERE s.medie > 9.0
RETURN DISTINCT s.nume AS Nume
"""

result = run_query(query)
df = pd.DataFrame(result)
print("Studenti cu media peste 9.0:")
print(df)

Studenti cu media peste 9.0:
                 Nume
0         Popescu Ion
1    Georgescu Andrei
2  Constantinescu Ana

In [25]:
#Exerci»õiul P9: Afi»ôa»õi pentru fiecare profesor lista de studen»õi pe care √Æi mentoreazƒÉ.

query = """
MATCH(s:Student)-[m:MENTORED_BY]->(p:Profesor)
RETURN p.nume AS Profesor, collect(s.nume) AS Studen»õi
"""

result = run_query(query)
df = pd.DataFrame(result)
print("Profesori si studenti:")
print(df)

Profesori si studenti:
              Profesor                        Studen»õi
0  Dr. Vasilescu Mihai                   [Popescu Ion]
1   Dr. Nicolescu Anca  [Georgescu Andrei, Stan Diana]